.series_progress_bars {
  @apply flex flex-col gap-1;

  .series_progress_bar {
    @apply bg-gray-200 h-2;
    @apply flex flex-row w-full h-full;
    @apply bg-gray-300;

    a {
      @apply h-full;
      position: relative;
      @apply w-full h-full;
    }

    .episode_progress_bar {
      @apply w-full h-full flex justify-center items-center;
      position: relative;

      .episode_progress {
        display: flex;
        -ms-flex-flow: row wrap;
        @apply absolute w-full;
        @apply bg-blue-300;
        @apply h-full;
        top: 50%;
        transform: translateY(-50%);
      }

      .episode_number {
        @apply text-xs z-10 relative text-center;
      }
    }
  }
}
