.tracked_series {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  .seasons_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .season_container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      width: 100%;
    }
  }
}
