.antraktor-page-content {
  display: flex;
  flex-direction: column;
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  ul,
  ol,
  li {
  }
  @apply bg-slate-600;
  & section {
    @apply flex flex-col gap-5 max-w-screen-2xl self-center;
    min-width: 1280px;
  }

  @import "components/now_playing_progress_bar";
  @import "components/series_progress_bar";
  @import "components/movie_progress_container";
  @import "components/watched_series";
  @import "components/watched_movie";
  @import "components/episode_info";
  @import "components/kodi_currently_playing";
  @import "components/antraktor_header";
  @import "components/antraktor_footer";
}
